In [ ]:

pd.to_datetime(df_dirty["date"], errors="coerce").max()

Timestamp('2022-12-31 00:00:00')

In [20]:
## Observations
# dataset contains 15,836 transactions.
# - Total unique users:  192 users.
# - Dataset spans from  2019-01-01 00:00:00  to  2022-12-31 00:00:00 (after parsing date column).
# - Missing values observed in the following columns:
# - date (344 missing)
# - category (158 missing)
# - amount (178 missing)
# - payment_mode (503 missing)
# - location (722 missing)
# - notes (1,534 missing)
# - All columns are currently stored as string (`object`) datatype
# - Amount column contains currency symbols ($, â‚¹) and comma-separated numeric values
# - Date column contains mixed formats and missing values.
# - Dataset requires data cleaning, type conversion, and handling of missing values before further analysis or modeling.

In [13]:
import pandas as pd

df_clean = pd.read_csv("../data/raw/budgetwise_finance_dataset.csv")
df_dirty = pd.read_csv("../data/raw/budgetwise_synthetic_dirty.csv")
df_clean.shape
df_dirty.shape

df_clean.columns
df_dirty.columns
df_clean.dtypes
df_dirty.dtypes
df_clean.head()
df_dirty.head()
df_dirty.info()

<class 'pandas.DataFrame'>
RangeIndex: 15836 entries, 0 to 15835
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    15836 non-null  str
 1   user_id           15836 non-null  str
 2   date              15492 non-null  str
 3   transaction_type  15836 non-null  str
 4   category          15678 non-null  str
 5   amount            15658 non-null  str
 6   payment_mode      15333 non-null  str
 7   location          15114 non-null  str
 8   notes             14302 non-null  str
dtypes: str(9)
memory usage: 1.1 MB